# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

#out folder
Objects
Listings

#MDK project file
JLinkLog.txt
JLinkSettings.ini
*.guild_log.htm
*.uvguix.*
*_uvoptx.bak
*_uvprojx.bak
*.dep
*.uvoptx
*.*.bak

